<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8' />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/stylesheets/weui.css" />
  <link rel="stylesheet" href="/stylesheets/example.css">
  <style>
    #task-list .status-audit {
      background: lightcyan;
      font-weight: bold;
    }
    #task-list .status-pass {
      background: lightgreen;
      font-weight: bold;
    }
    #task-list .status-reject {
      background: pink;
      font-weight: bold;
    }
  </style>
</head>

<body ontouchstart>
  <input id="userId" value="<%= user.userId%>" hidden disabled/>
  <div class="page" style="opacity: 1">
    <div class="page__bd">
      <h1 style="margin: 10px;"><%= user.username%></h1>
    </div>
    <div class="page__bd">
      <div class="button_sp_area">
        <a href="task?userId=<%=user.userId%>&username=<%=user.username%>" class="weui-btn weui-btn_primary" style="margin: 20px 10px;">新建任务</a>
      </div>
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">我的任务列表</div>
        <div id="task-list" class="weui-panel__bd">
          <% if(taskList.length > 0) { %>
            <% for(var i = 0; i < taskList.length; i++) { %>
            <%   var task = taskList[i]; %>
            <a href="task/<%= task.id %>" class="weui-media-box weui-media-box_appmsg">
              <% if (task.auditAdmin == -1 || task.auditLeader == -1) { %>
              <div class="weui-media-box__hd status-reject">
                未通过
              </div>
              <% } else if (task.auditAdmin == 1 && task.auditLeader == 1) {%>
              <div class="weui-media-box__hd status-pass">
                通过
              </div>
              <% } else {%>
              <div class="weui-media-box__hd status-audit">
                审核中
              </div>
              <% } %>
              <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">
                  <%= task.createTimeString %>
                </h4>
                <p class="weui-media-box__desc">
                  <%= task.description %>
                </p>
              </div>
            </a>
            <% } %>
          <% } else { %>
            <div class="weui-cells__tips">您当前无任务</div>
          <% } %>
        </div>
        <div class="page__bd">
          <div class="button_sp_area">
            <a href="#" id="btn-load_more" class="weui-btn weui-btn_plain_default" style="font-size: 14px; color: grey; margin: 0 15px;">加载更多</a>
            <div id="hint-loading" class="weui-loadmore">
              <i class="weui-loading"></i>
              <span id="hint-loading" class="weui-loadmore__tips">正在加载</span>
            </div>
          </div>
          <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
            <span class="weui-loadmore__tips"></span>
          </div>
          <div id="hint-no_more" class="weui-loadmore weui-loadmore_line">
            <span id="hint-no_more" class="weui-loadmore__tips">暂无更多数据</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/bower_components/zepto/zepto.min.js"></script>
  <script src="http://rawgit.com/progrape/weui.js/master/dist/weui.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="/javascripts/wechat/weixin.js"></script>

  <script>
    
    $(function() {
      $("#hint-no_more").hide();
      $("#hint-loading").hide();

      var lastTaskCreateTime = <%=taskList.length > 0 ? taskList[taskList.length-1].createTime : 0 %>;

      $("#btn-load_more").on('click', function() {
        $("#btn-load_more").hide();
        $("#hint-loading").show();
        $.get('/loadmore?userId=<%=user.userId%>&startTime=' + lastTaskCreateTime, function(res) {
          $("#hint-loading").hide();
          $("#btn-load_more").show();
          if (res.size > 0) {
            $("#task-list").append(res.html);
            lastTaskCreateTime = res.leastTime;
          } else {
            $("#hint-no_more").show();
            $("#btn-load_more").remove();
          }
        });
      });
    });
  </script>
</body>

</html>
